.legend
  box-sizing content-box
  position absolute
  left 10px
  bottom  10px
  background white
  width 239px
  height 60px
  border 2px solid rgba(0,0,0,0.2)
  border-radius 3px
  overflow hidden
  .line
    position absolute
    top 0px
    left 0px
    transition top 0.8s
    div
    svg
      float left
    svg
      margin-top 9px
    div
      margin-top 10px
      width 79px
      text-align center
      font-family 'Roboto'
      text-transform lowercase
      font-variant small-caps
