@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import Legend
.ig
  .map
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 100%
  select
    position absolute
    top 10px
    right 10px
    padding 5px 6px
